*{
    margin:0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


/* header style */

.header{
    background-image: url(../images/banner/banner3.png);
    width: 100%;
    height: 1000px;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.banner{
    text-align: right;
    padding: 200px 200px;
   
}

.banner-title{
    font-weight: 700;
    font-size: 65px;
    font-family: 'Work Sans';
    color: white;
}

.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-primary{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: #005FAC;
    font-weight: 600;
    font-size: 20;
    margin-top: 20px;
    
}

.btn-primary:hover{
    background-color: #F15B22;
}

/* main section */

.failures{
    padding: 300px 300px;
    text-align: right;
}

.failures-title{
font-weight: 700;
font-size: 40px;
color: #151414;
padding-bottom: 20px;
font-family: 'Work Sans';
align-items: center;
}

.failures-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.failures{
    background-image: url(../images/person.png);
    background-repeat: no-repeat;
    background-position: left 25% bottom 45%;
}

.list{
    padding-top: 15px;
}

/* Plan Section style */

.plan{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    
}

.icon-container{
    padding: 100px 100px;
    padding-top: 50px;
    display: flex;
    
}

.icon{
    padding: 100px 100px;
    padding-top: 10px;

}

.icon-title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    text-align: center;
    white-space: pre;
}

.icon-description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    padding-top: 10px;
}

.mind{
    background-image: url(../images/watch.png);
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
    padding-top: 10px;
    
    
}

.mindset{
    text-align: left;
    padding-left: 450px;
    
}

.mind-title{
    padding: left;
    font-weight: 700;
    font-size: 40px;
    padding-top: 50px;
    color: #FFFFFF;
    
}








